.web-library {
  &__content {
    padding: 6rem 2rem 1rem 2rem;
    height: 90vh;
    overflow-y: auto;
  }
}

.container-alerts {
  position: absolute;
  z-index: 2;
  top: 5rem;
  right: 2rem;
  width: 50%;
}
