<div class="demo-modal-info">
  <div class="row">
    <app-info [title]="title" [description]="description" [inputList]="inputList" [outputList]="outputList"></app-info>
  </div>
  <div class="row">
    <div class="demo-input__example">
      <h3 class="text-secondary">Example</h3>
      <button (click)="openModal()" class="btn btn-primary">Open modal-info</button>
      <lib-modal-info (closeModal)="closeModal()" [open]="open" [title]="modalTitle">
        <div body class="modal-body">
          <h2>Modal description</h2>
          <p>This area is for the <strong> modal-info's description</strong></p>
        </div>
        <div footer class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
        </div>
      </lib-modal-info>
    </div>
  </div>
  <app-info-code [html]="html" [typeScript]="typeScript"></app-info-code>
</div>
