<div class="menu">
  <span class="d-block text-primary"
    ><b><i class="bi bi-boxes"></i> Components</b></span
  >
  <a class="d-block text-secondary" [routerLink]="['/accordion']">- Accordion</a>
  <a class="d-block text-secondary" [routerLink]="['/alert']">- Alert</a>
  <a class="d-block text-secondary" [routerLink]="['/alert-system']">- Alert-system</a>
  <a class="d-block text-secondary" [routerLink]="['/dropdown']">- Dropdown</a>
  <a class="d-block text-secondary" [routerLink]="['/input-password']">- Input-password</a>
  <a class="d-block text-secondary" [routerLink]="['/input-text']">- Input-text</a>
  <a class="d-block text-secondary" [routerLink]="['/modal-info']">- Modal-info</a>
  <a class="d-block text-secondary" [routerLink]="['/select']">- Select</a>
  <a class="d-block text-secondary" [routerLink]="['/select-multiple']">- Select-multiple</a>
</div>
