<div class="demo-input-pass">
  <div class="row">
    <app-info [title]="title" [description]="description" [inputList]="inputList"></app-info>
  </div>
  <div class="row">
    <div class="demo-input-pass__example">
      <h3 class="text-secondary">Example</h3>
      <form [formGroup]="userForm">
        <label class="mb-1" ngClass="text-secondary fw-bold">{{ label }}</label>
        <lib-input-password
          [placeholder]="'Insert password'"
          [validationErrors]="errorDescription"
          [control]="passControl"
          [focus]="false"
        ></lib-input-password>
        <button type="submit" (click)="sendForm()" [disabled]="!userForm.valid" class="btn btn-primary mt-3">Send Form</button>
      </form>
    </div>
  </div>
  <app-info-code [html]="html" [typeScript]="typeScript"></app-info-code>
</div>
